{% extends 'RebaseBigvBundle::base.html.twig' %}

{% block breadcrumb %}
      {{ parent() }}
      <li>Venues</li>
{% endblock %}

{% block main %}

    {% for venue in venues %}
		<div class="well">
		<p><strong>{{ venue.getName() }}</strong> ({{ venue.courts|length }})
		<p>
		  <a href="{{ path('_RBV_venue_courts', { 'venueID': venue.getID()}) }}">Courts</a> | 
		  <a href="{{ path('_RBV_venue_home', { 'venueID': venue.getID()}) }}">Venue Details</a>
		</p>
		</div>
	{% else %}
		<div class="bordered"><p>There are no venues in the system yet.</p></div>
	{% endfor %}
	

	<a href="{{ path('_RBV_venue_create')}}">Add a new venue</a>


{% endblock %}
