{% extends 'RebaseBigvBundle:Venue:venueBase.html.twig' %}

{% block main %}
<h1>Venue Information</h1>
 <div class="grid_16">
 
 <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
  {{ form_errors(form) }}
  {{form_row(form.name) }}
	{{form_row(form.FullName) }}
	{{form_row(form.Address) }}
     {{ form_rest(form) }}
  <div class="form-actions">   
	  <input class="btn btn-primary" type="submit" value="{% if venue.Id == 0 %}Create{% else %}Update{% endif %}"/>
  </div>
	</table>
	
</form>
</div>
{% endblock %}