{% extends 'RebaseBigvBundle::base.html.twig' %}

{% block top %}
 <div class="grid_8">
    <a href="{{path('_RBV_home')}}">Home</a> > Divisions
  </div>
{% endblock %}

{% block main %}

    {% for division in divisions %}
		<div class="grid_5 bordered">
		<p><strong>{{ division.getName() }}</strong> ({{ division.getFullName() }})</p>
		<p>
		  <a href="{{ path('_RBV_division_edit', { 'divisionID': division.getID()}) }}">Edit</a> | 
		  <a href="{{ path('_RBV_division_delete', { 'divisionID': division.getID()}) }}">Delete</a>
		</p>
		</div>
	{% else %}
		<div class="grid_5 bordered"><p>There are no divisions in the system yet.</p></div>
	{% endfor %}
	
	<div class="grid_16">
	<a href="{{ path('_RBV_division_create')}}">Add a new division</a>
	</div>

{% endblock %}
