{% extends 'RebaseBigvBundle::base.html.twig' %}

{% block main %}

    {% for division in divisions %}
		<div class="fancy-info-box">
      <div class="row">
        <div class="span4">
		      <p><strong>{{ division.getName() }}</strong> ({{ division.getFullName() }})</p>
        </div>
        <div class="span5">
		      <a class="btn btn-primary" href="{{ path('_RBV_division_edit', { 'divisionID': division.getID()}) }}">Edit</a>
		      <a class="btn btn-danger" href="{{ path('_RBV_division_delete', { 'divisionID': division.getID()}) }}">Delete</a>          
        </div>
		  </div>
		</div>
	{% else %}
		<div class="grid_5 bordered"><p>There are no divisions in the system yet.</p></div>
	{% endfor %}
	
	<div class="grid_16">
	<a href="{{ path('_RBV_division_create')}}">Add a new division</a>
	</div>

{% endblock %}
